.jumbotron
  = image_tag "/team-logo.png"
  p Database for saving and sharing knowledge of people which works together.
  p = link_to 'Try it', try_it_bee_sessions_path, method: :post, class: 'btn btn-lg btn-primary'
